/*------------------------------------------------------------------------------
container organism
------------------------------------------------------------------------------*/

[gui-o-container] {
    position: absolute;
}

[gui-o-container~='full'] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

[gui-o-container~='centered'] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
