/*------------------------------------------------------------------------------
container organism
------------------------------------------------------------------------------*/

[gui-o-container~="abs"] { position: absolute; }

[gui-o-container~="fix"] { position: fixed; }

[gui-o-container~="rel"] { position: relative; }

[gui-o-container~='full'] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

[gui-o-container~='centered'] {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[gui-o-container~='r-0'] { right: 0; }

[gui-o-container~='l-0'] { left: 0; }

[gui-o-container~='t-0'] { top: 0; }

[gui-o-container~='b-0'] { bottom: 0; }
