/*------------------------------------------------------------------------------
button config
------------------------------------------------------------------------------*/

:root {

    --button-br: var(--a-s-tiny);
    --button-txt: var(--a-c-white);
    --button-fontsize: 1.21rem; /* 23px @ 19px */
    --button-padding: var(--a-s-little);
    --button-h: 2.73rem; /* 52px @ 19px */

    --button-bg: var(--a-c-regalBlue);
    --button-bg-hover: color( var(--a-c-regalBlue) tint(20%) );
    --button-bg-active: color( var(--a-c-regalBlue) tint(30%) );

}
