/*------------------------------------------------------------------------------
atoms - a palette of all possible variables used throughout the project
------------------------------------------------------------------------------*/

:root {

    /* colors */
    --a-c-darkOrange: hwb(29, 0%, 0%); /* #ff7a00 */
    --a-c-suvaGray: hwb(0, 55%, 45%); /* #8c8c8c */
    --a-c-regalBlue: hwb(203, 11%, 72%); /* #1b3647 */
    --a-c-black: hwb(0deg, 0%, 100%);
    --a-c-white: hwb(0deg, 100%, 0%);

    /* font families */

    --a-font-ptSans: 'PT Sans', 'Source Sans Pro', sans-serif;
    --a-font-monospace: 'Input Mono', 'Office Code Pro', 'Source Code Pro', 'Fira Mono', 'Inconsolata',  'Monaco', 'Consolas', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', monospace;

    /* fractions */

    --a-f-giant: 0.75;
    --a-f-big: 0.50;
    --a-f-medium: 0.25;
    --a-f-small: 0.125;
    --a-f-tiny: 0.05;

    /* percents */

    --a-p-giant: calc(var(--a-f-giant) * 100%);
    --a-p-big: calc(var(--a-f-big) * 100%);
    --a-p-medium: calc(var(--a-f-medium) * 100%);
    --a-p-small: calc(var(--a-f-small) * 100%);
    --a-p-tiny: calc(var(--a-f-tiny) * 100%);

    /* time durations */

    --a-t-slowest: 2s;
    --a-t-slower: 1s;
    --a-t-slow: 0.75s;
    --a-t-medium: 0.5s;
    --a-t-fast: 0.25s;
    --a-t-faster: 0.125s;

    /* z-indexes */

    --a-z-negative: -1;
    --a-z-1: 10; --a-z-2: 20; --a-z-3: 30; --a-z-4: 40; --a-z-5: 50;
    --a-z-6: 60; --a-z-7: 70; --a-z-8: 80; --a-z-9: 90; --a-z-10: 100;

    /* sizes */

    --a-s-infinite: 1000rem; /* extremely big */
    --a-s-colossal: 8.42rem; /* 160px @ 19px */
    --a-s-huge: 6.32rem; /* 120px @ 19px */
    --a-s-giant: 5.05rem; /* 96px @ 19px */
    --a-s-big: 2.53rem; /* 48px @ 19px */
    --a-s-large: 1.26rem; /* 24px @ 19px */
    --a-s-medium: 0.84rem; /* 16px @ 19px */
    --a-s-small: 0.63rem; /* 12px @ 19px */
    --a-s-little: 0.32rem; /* 6px @ 19px */
    --a-s-tiny: 0.21rem; /* 4px @ 19px */

    /* special sizes */

    --a-s-ipad-h: 40.42rem; /* 768px @ 19px */
    --a-s-ipad-v: 53.89rem; /* 1024px @ 19px */

}
