/*------------------------------------------------------------------------------
pad molecule
------------------------------------------------------------------------------*/

[gui-m-pad~='medium'] {
    padding: var(--a-s-medium);
}
[gui-m-pad~='medium-v'] {
    padding-top: var(--a-s-medium);
    padding-bottom: var(--a-s-medium);
}
[gui-m-pad~='medium-h'] {
    padding-left: var(--a-s-medium);
    padding-right: var(--a-s-medium);
}
