/*------------------------------------------------------------------------------
symbol organism
------------------------------------------------------------------------------*/

@import '_config.css';

[gui-o-symbol] {
    display: inline-block;
    vertical-align: middle;

    max-width: 100%;

    shape-rendering: geometricPrecision;
}

/* bugfix for click target SVGElementInstance */

[gui-o-symbol] > * { pointer-events: none; }

[gui-o-symbol~='currentColor'] {
    fill: currentColor;
    color: inherit;
}


/*------------------------------------------------------------------------------
symbol sizes
------------------------------------------------------------------------------*/

[gui-o-symbol~='e-logo'] {
    width: var(--symbol-e-logo-w);
    height: var(--symbol-e-logo-h);
}
