/*------------------------------------------------------------------------------
symbol organism
------------------------------------------------------------------------------*/

@import '_config.css';

[gui-o-symbol] {
    display: inline-block;
    vertical-align: middle;

    height: var(--symbol-s);
    width: var(--symbol-s);

    shape-rendering: geometricPrecision;
}

/* bugfix for click target SVGElementInstance */

[gui-o-symbol] > * { pointer-events: none; }

[gui-o-symbol~='big'] {
    width: var(--symbol-s-big);
    height: var(--symbol-s-big);
}

[gui-o-symbol~='currentColor'] {
    fill: currentColor;
    color: inherit;
}
