<div>
    <input
        type="radio"
        name="amount"
        id="ticketsPromoForm-amount-1"
        value="1"
        checked
    >
    <label for="ticketsPromoForm-amount-1">
        <span>1 ticket</span>
        <data value="109.00">€100</data>
    </label>
</div>

<div>
    <input
        type="radio"
        name="amount"
        id="ticketsPromoForm-amount-5"
        value="5"
    >
    <label for="ticketsPromoForm-amount-5">
        <span>5 tickets</span>
        <data value="495.00">€495</data>
    </label>
</div>

<input
    type="text"
    name="firstName"
    id="ticketsPromoForm-firstName"
    data-placeholder="First name"
    autofocus
>

<input
    type="text"
    name="lastName"
    id="ticketsPromoForm-lastName"
    data-placeholder="Last name"
>

<textarea
    name="firstMessage"
    id="ticketsPromoForm-firstMessage"
    rows="1"
    data-placeholder="Textarea 1"
></textarea>

<textarea
    name="secondMessage"
    id="ticketsPromoForm-secondMessage"
    rows="1"
    data-placeholder="Textarea 2"
></textarea>

<input
    type="text"
    name="email"
    id="ticketsPromoForm-email"
    data-placeholder="Email"
>

<input
    type="password"
    name="password"
    id="ticketsPromoForm-password"
    data-placeholder="Password"
>

<input
    type="text"
    name="vid"
    id="ticketsPromoForm-vid"
    data-placeholder="VID Number"
>

<div>
    <input
        type="text"
        name="counter"
        id="ticketsPromoForm-counter"
    >
    <label for="ticketsPromoForm-counter">
        &times; Number of tickets
    </label>
</div>
