<footer
    gui-m-column="m-1/2 b-1/2"
    gui-m-columnbefore="m-1/4 b-1/4"
    gui-m-columnafter="m-1/4 b-1/4"
    gui-m-pad="little-h"
>

    <button
        gui-o-button="full"
        type="button"
        name="registerButton"
        id="promoForm-registerButton"
    >
        Register
    </button>

</footer>
