<header gui-m-text="centered" gui-m-pad="huge-b">

    <svg gui-o-symbol="e-logo"><use xlink:href="#symbol-e-logo"></svg>

    <h1 gui-m-pad="large-t little-b" gui-m-text="700 uppercased s-55">
        Weekend promotion
    </h1>

    <div gui-m-text="uppercased 700 s-25">
        <span gui-m-text="underlined">Promotion ends:</span>
        <time datetime="2014-03-20T12:00">20.03.2014, 12:00PM</time>
    </div>

</header>
