<header>

    <svg><use xlink:href="#symbol-e-logo"></svg>

    <h1>Weekend promotion</h1>

    <div>
        <span>Promotion ends:</span>
        <time datetime="2014-03-20T12:00">20.03.2014, 12:00PM</time>
    </div>

</header>
