<header gui-m-text="centered">

    <svg gui-o-symbol="e-logo"><use xlink:href="#symbol-e-logo"></svg>

    <h1 gui-m-pad="large-t little-b">Weekend promotion</h1>

    <div gui-m-text="uppercased 700">
        <span gui-m-text="underlined">Promotion ends:</span>
        <time datetime="2014-03-20T12:00">20.03.2014, 12:00PM</time>
    </div>

</header>
