<section gui-m-tableCenter gui-m-width="ipad-h">
    <form id="promoForm" gui-m-tableCenter-child gui-m-pad="small-h big-v">
        {% include app/form/_header.liquid %}
        {% include app/form/_elements.liquid %}
        {% include app/form/_footer.liquid %}
    </form>
</section>
