/*------------------------------------------------------------------------------
basics configuration
------------------------------------------------------------------------------*/

:root {

    /* base */

    --app-txt-c: var(--a-c-white);
    --app-bg-c: var(--a-c-darkOrange);
    --app-bg-gr: linear-gradient(
        to bottom,
        var(--a-c-black) 31%,
        var(--app-bg-c) 65%
    );
    --app-content-w: 40.421rem; /* 768px @ 19px */

    /* root typography with font sizes for different screens scaling */

    --rootFontWeight: 400;
    --rootLineHeight: 1.5;
    --rootFontFamily: var(--a-font-ptSans);
    --rootFontSize: 19px;
    --rootFontSizeSmaller: 16px;
    --rootFontSizeBigger: 22px;

    /* specific elements */

    --focus-outline-c: var(--a-c-darkOrange);
    --focus-outline-w: var(--a-s-tiny);

    --selection-txt-c: var(--a-c-white);
    --selection-bg-c: var(--a-c-darkOrange);

    /* reusable stuff */

    --disabled-o: var(--a-f-big);

}
