/*------------------------------------------------------------------------------
user-action influenced states
------------------------------------------------------------------------------*/

/* links */

a {
    color: inherit;
    text-decoration: underline;
}

a:hover { color: inherit; }

a:visited { color: inherit; }

a:active { color: inherit; }

/* text selection */

:focus {
    outline-color: var(--focus-outline-c);
    outline-style: auto;
    outline-width: var(--focus-outline-w);
}

::-moz-focus-inner { border: 0; }

::selection {
    color: var(--selection-txt-c);
    background-color: var(--selection-bg-c);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: var(--disabled-o);

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
